<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ApplicationIdentifier</key>
		<string>com.araxis.merge</string>
		<key>ApplicationName</key>
		<string>Araxis Merge</string>
		<key>DisplayName</key>
		<string>Araxis Merge</string>
		<key>LaunchScript</key>
		<string>araxismerge.sh</string>
		<key>Identifier</key>
		<string>araxismerge</string>
		<key>SupportsMergeTool</key>
		<true/>
	</dict>
    <dict>
        <key>ApplicationIdentifier</key>
        <string>com.ScooterSoftware.BeyondCompare</string>
        <key>ApplicationName</key>
        <string>Beyond Compare</string>
        <key>DisplayName</key>
        <string>Beyond Compare</string>
        <key>LaunchScript</key>
        <string>beyondcompare.sh</string>
        <key>Identifier</key>
        <string>beyondcompare</string>
        <key>SupportsMergeTool</key>
        <true/>
    </dict>
	<dict>
		<key>ApplicationIdentifier</key>
		<string>com.barebones.bbedit</string>
		<key>ApplicationName</key>
		<string>BBEdit</string>
		<key>DisplayName</key>
		<string>BBEdit</string>
		<key>LaunchScript</key>
		<string>bbedit.sh</string>
		<key>Identifier</key>
		<string>bbedit</string>
		<key>SupportsMergeTool</key>
		<false/>
	</dict>
	<dict>
		<key>ApplicationIdentifier</key>
		<string>com.skorpiostech.Changes</string>
		<key>ApplicationName</key>
		<string>Changes</string>
		<key>DisplayName</key>
		<string>Changes</string>
		<key>LaunchScript</key>
		<string>changes.sh</string>
		<key>Identifier</key>
		<string>changes</string>
		<key>SupportsMergeTool</key>
		<false/>
	</dict>
	<dict>
		<key>ApplicationIdentifier</key>
		<string>com.deltopia.deltawalker</string>
		<key>ApplicationName</key>
		<string>DeltaWalker</string>
		<key>DisplayName</key>
		<string>DeltaWalker</string>
		<key>LaunchScript</key>
		<string>deltawalker.sh</string>
		<key>Identifier</key>
		<string>deltawalker</string>
		<key>SupportsMergeTool</key>
		<true/>
	</dict>
	<dict>
		<key>ApplicationIdentifier</key>
		<string>com.sourcegear.DiffMerge</string>
		<key>ApplicationName</key>
		<string>DiffMerge</string>
		<key>DisplayName</key>
		<string>DiffMerge</string>
		<key>LaunchScript</key>
		<string>diffmerge.sh</string>
		<key>Identifier</key>
		<string>diffmerge</string>
		<key>SupportsMergeTool</key>
		<true/>
	</dict>
	<dict>
		<key>ApplicationName</key>
		<string>FileMerge</string>
		<key>DisplayName</key>
		<string>FileMerge</string>
		<key>LaunchScript</key>
		<string>filemerge.sh</string>
		<key>Identifier</key>
		<string>filemerge</string>
		<key>SupportsMergeTool</key>
		<true/>
	</dict>
	<dict>
		<key>ApplicationIdentifier</key>
		<string>com.blackpixel.kaleidoscope</string>
		<key>ApplicationName</key>
		<string>Kaleidoscope</string>
		<key>DisplayName</key>
		<string>Kaleidoscope</string>
		<key>LaunchScript</key>
		<string>kaleidoscope.sh</string>
		<key>Identifier</key>
		<string>kaleidoscope</string>
		<key>SupportsMergeTool</key>
		<true/>
		<key>SupportsDiffChangeset</key>
		<true/>
		<key>SupportsMergeSinceVersion</key>
		<string>2.0.0</string>
	</dict>
	<dict>
		<key>ApplicationIdentifier</key>
		<string>com.perforce.p4merge</string>
		<key>ApplicationName</key>
		<string>P4Merge</string>
		<key>DisplayName</key>
		<string>P4Merge</string>
		<key>LaunchScript</key>
		<string>p4merge.sh</string>
		<key>Identifier</key>
		<string>p4merge</string>
		<key>SupportsMergeTool</key>
		<true/>
		<key>SupportsDiffChangeset</key>
		<true/>
	</dict>
	<dict>
		<key>ApplicationIdentifier</key>
		<string>com.macromates.textmate</string>
		<key>ApplicationName</key>
		<string>TextMate</string>
		<key>DisplayName</key>
		<string>TextMate</string>
		<key>LaunchScript</key>
		<string>textmate.sh</string>
		<key>Identifier</key>
		<string>textmate</string>
		<key>SupportsMergeTool</key>
		<false/>
	</dict>
	<dict>
		<key>ApplicationIdentifier</key>
		<string>com.barebones.textwrangler</string>
		<key>ApplicationName</key>
		<string>TextWrangler</string>
		<key>DisplayName</key>
		<string>TextWrangler</string>
		<key>LaunchScript</key>
		<string>textwrangler.sh</string>
		<key>Identifier</key>
		<string>textwrangler</string>
		<key>SupportsMergeTool</key>
		<false/>
	</dict>
	<dict>
		<key>ApplicationIdentifier</key>
		<string>com.dotfork.DiffFork</string>
		<key>ApplicationName</key>
		<string>DiffFork</string>
		<key>DisplayName</key>
		<string>DiffFork</string>
		<key>LaunchScript</key>
		<string>difffork.sh</string>
		<key>Identifier</key>
		<string>difffork</string>
		<key>SupportsMergeTool</key>
		<false/>
	</dict>
</array>
</plist>
