 .mac .blank-view .container-pointer {
	fill: white;
}

.mac #blank-view-container {
	/*border: 1px solid #fefefe;*/
	border-radius: 6px;
	overflow: hidden;
}

#blank-view-container {
	position: relative;
	width: 305px;
	height: 480px;
	background: white;
}
